@import "tailwindcss";


dialog:-internal-dialog-in-top-layer {
  max-width: 100%;
  max-height: 100%;
  position: fixed;
  inset-block-start: 0px;
  inset-block-end: 0px;
  user-select: text;
  visibility: visible;
  overflow: auto;
  margin: auto;
  padding-bottom: 8px;
}
@media (width >= 48rem) {
  dialog:-internal-dialog-in-top-layer {
    max-width: calc(100% - 2em - 6px);
    max-height: calc(100% - 2em - 6px);
  }
}

.reserve-wrapper {
  @apply grid gap-4;
  grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));

  :global(.fc-header-toolbar) {
    text-align: center;
  }
}

.reserve-form {
  display: flex;
  flex-flow: column;
  margin: 16px 0 0 0px;
  width: 500px;
  max-width: 100%;

  
  label {
    font-weight: 800;
    display: flex;
    flex-flow: column;  
    text-align: left;

    input {

    }
  }
}