@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: Nunito, Arial, sans-serif;
  color: #333;
}

header {
  @apply bg-[#ff6f61] text-white py-2.5 sticky rounded-b-lg text-2xl z-10 flex flex-col gap-8 md:top-[-190px] p-0.5 h-dvh md:h-auto;
  font-family: 'Pacifico', cursive;

  .header-title {
    @apply grow flex flex-col md:flex-row items-center justify-center gap-4 w-full;
  
  h1 {
    @apply text-4xl order-1;
  }

  div { 
    @apply grow flex items-center md:grow-0;
    img {
      @apply h-auto md:h-40;
    }
  }}
}

.chevron { 
  @apply rounded-md drop-shadow-2xl;
  
  display: inline-block;
  border-right: 4px solid white;
  border-bottom: 4px solid white;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);

  animation-name: chevron-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  
}
.chevron2{
  animation-delay:0.5s;
  margin-top: -10px;
}

@keyframes chevron-animation {
  0% { 
    transform: translatey(-10px) rotate(45deg);
    opacity: 0;
  }
  50% { 
    opacity: 1;
  }
  100% { 
    opacity: 0;
    transform: translatey(0px) rotate(45deg);
  }
}

h2 {
  @apply text-[#ff6f61] text-2xl pb-8;
  font-family: 'Pacifico', cursive;
}

nav ul {
  @apply list-none p-0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

section {
  @apply p-8 m-2 bg-[rgba(255_255_255_0.8)] rounded-lg shadow-md;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #ff6f61;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-top: 10px;
}

form input, form button, form select {
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form button {
  background-color: #ff6f61;
  color: white;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #e55b50;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: rgba(51, 51, 51, 0.9); /* Fondo semitransparente */
  color: white;
}

#eventos {
  padding: 20px;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.evento {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
}

.evento h3 {
  color: #ff6f61;
  margin-top: 0;
}

.evento p {
  margin: 5px 0;
}

.evento button {
  background-color: #ff6f61;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.evento button:hover {
  background-color: #e55b50;
}

.fc .fc-button-primary:focus, .fc .fc-button-primary:not(:disabled):active:focus {
  box-shadow: none;
}

:root{
  --fc-button-bg-color:#ff6f61;
  --fc-button-border-color: none;
  --fc-button-hover-bg-color:#e55b50;
  --fc-button-hover-border-color:none;
  --fc-button-active-bg-color:#e55b50;
  --fc-button-active-border-color:none;
}

#inicio {
  text-align: justify;
  p, li {
    padding:0.2rem
  }  
}

#contacto {
  div{
    display: flex; 
    flex-flow: column;
    justify-content: space-around; 
    //padding: 0 10%;
  }

  ul{ 
    margin: auto; 
    width:100%; 
    text-align: left;
  }

  p, li {
    padding:0.2rem
  }  
  sup {font-size:0.7rem;}
}
#tarifas {
  & > div{
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
    //padding: 0 10%; 
    margin-bottom: 3rem;
    text-align: left;
  } 
  ul{ 
    margin: auto; 
    width:fit-content; 
    //text-align: justify; 
    text-align: left;
    li {padding: 0.5rem;}
  }
}

#equipamiento{
  ul{
    display: grid; 
    grid-template-columns: repeat(auto-fill,minmax(180px, 1fr)); 
    gap: 1rem;
  }
  li{margin: 0 auto; 
    width:100%; 
    text-align: justify; }
}


.calendar{
  .fc .fc-button-primary:focus, .fc .fc-button-primary:not(:disabled):active:focus {
    box-shadow: none;
  }

  :root{
    --fc-button-bg-color:#ff6f61;
    --fc-button-border-color: none;
    --fc-button-hover-bg-color:#e55b50;
    --fc-button-hover-border-color:none;
    --fc-button-active-bg-color:#e55b50;
    --fc-button-active-border-color:none;
  }

  .fc-header-toolbar.fc-toolbar{
    flex-flow: row wrap;
  }

  .fc-toolbar-chunk{
    @apply !justify-between w-full flex;    
  }

  .fc-day:not(.fc-day-other):not(.fc-day-past) > .fc-daygrid-day-frame {  

    &:after{
      content: '+';

      font-size:12px;
      background-color: #ff6f61;
      color: white;
      border: none;
      padding: 5px 7.55px;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 10px;
      margin-left: 10%;
      width: 80%;
      text-align: center;
      position: absolute;
      bottom: 5px;
      display: inline-block;
      //left: calc(50% - 30px)
      
    }

    &:hover:after {
      background-color:#e55b50;
    }
  }
}

dialog:-internal-dialog-in-top-layer {
  max-width: 100%;
  max-height: 100%;
  width: 900px;
  position: fixed;
  inset-block-start: 0px;
  inset-block-end: 0px;
  user-select: text;
  visibility: visible;
  overflow: auto;
  margin: auto;
  padding-bottom: 8px;
}
@media (width >= 48rem) {
  dialog:-internal-dialog-in-top-layer {
    max-width: calc(100% - 2em - 6px);
    max-height: calc(100% - 2em - 6px);
  }
}

.reserve-wrapper {
  @apply grid gap-4;
  grid-template-columns: repeat(2, minmax(203px, 1fr));

  .fc-header-toolbar {
    text-align: center;
  }
}

.reserve-form {
  display: flex;
  flex-flow: column;
  margin: 16px 0 0 0px;
  width: 500px;
  max-width: 100%;

  
  label {
    font-weight: 800;
    display: flex;
    flex-flow: column;  
    text-align: left;

    input {

    }
  }
}